<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <style>
      body div {
        display: inline-flex;
        height: 250px;
        width: 250px;
        border-radius: 5%;
        margin: 16px;
        background-color: {{color}};
      }
    </style>
    {% for x in range(0,times) %}
    <div></div>
    {% endfor %}
  </body>
</html>
